<br/>
<br/>
<br/>
<div class="container">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 text-white"> 
        <h2 class="text-center">🚀 {{coctel.strDrink}}</h2>
        <br/>
        <img src="{{coctel.strDrinkThumb}}" class="rounded float-start"  width="450" height="450" alt="">

    </div>

    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 text-white text-center">
        <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <br/>
            <br/>
            <br/>
            <br/>
            <h6 class="display-6 "><b>👾Tipo: {{coctel.strAlcoholic}}</b></h6>
             <h6 class="display-6 "><b>🤖Categoria: {{coctel.strCategory}}</b></h6>
             <p class="fs-3">{{coctel.strInstructions}}</p>
            <hr class="my-4">
            <h6 class="display-6"><b>Ingredients🍥</b></h6>
            <br/>

        
            <a class="btn btn-success btn-lg mr-5" href="#" role="button"><b>{{coctel.strIngredient1}}</b></a>
            <a class="ms-5 btn btn-primary btn-lg " href="#" role="button"><b>{{coctel.strIngredient2}}</b></a>
            <a class="ms-5 btn btn-warning btn-lg" href="#" role="button"><b>{{coctel.strIngredient3}}</b></a>

        </div>
    </div>
    </div>
</div>
</div>
